@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$green: rgb(9, 146, 104);
$red: rgb(224, 49, 49);
$purple: rgb(156, 54, 181);
$lightgray: "#898989";

.titleText {
    color: $lightgray;
    font-size: 20px;
    font-weight: 600;
}

.thead {
    background: "#27ca7e91";
}

.td {
    vertical-align: middle;
    place-items: center;
}

.tdAction {
    margin: 'auto';
}
